p{
  font-family: Roboto, Arial;
}
.page-ahead{
  font-size: 25px;
  text-align: center;
  margin-top: 300px;
}
.context-1{
  margin-left: 100px;
  margin-bottom: 0px;
  margin-top: 100px;
  font-size: 30px;
}
.course-boxes{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 200px;
  margin-top: 200px;
  margin-left: 100px;
}
.course-box1{
  border-radius: 2%;
  border-style: solid;
  border-color: gray;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  margin-top: -150px;
  height: 400px;
  width:500px;
}
.course-box1text{
  margin-top: 40px;
  margin-left: 30px;
  font-size: 25px;
}
.course-box1context{
  color: gray;
  font-size: 15px;
  margin-left: 30px;
  margin-top: 10px;
}
.view-course{
  height: 50px;
  width:160px;
  margin-top: 18px;
  margin-left: 60px;
}
.view-schedule{
  height: 50px;
  margin-left: 90px;
}
.verified-image{
  height: 22px;
}
.star-image{
   height: 12px;
   margin-left: 30px;
}
.course-enrolled{
  margin-left: 30px;
}
.person-image{
  height: 12px;
}
.calender-icon{
  height: 14px;
  margin-left: 30px;
}
.laptop-icon{
  height: 14px;
  margin-left: 30px;
}
.view-course {
    background: #5E5DF0;
    border-radius: 999px;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
  }
  .view-schedule {
    background: #FFFFFF;
    border-radius: 999px;
    box-shadow: #5E5DF0 0 10px 30px -10px;
    box-sizing: border-box;
    color: #5E5DF0;
    cursor: pointer;
    font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
  }

  .view-course:hover{
    background-color: #FFFFFF;
    color: #5E5DF0;
    opacity: 0.7;
  }
  .view-schedule:hover{
    background-color: #5E5DF0;
    color: #FFFFFF;
    opacity: 0.7;
    }